@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<form action="" method="POST">


    <h3>Are you sure to delete?</h3>
    <h4>Name:@Model.Fname</h4>
    <h4>Name:@Model.Date</h4>
    <h4>Name:@Model.ResturantName</h4>
    <h4>Name:@Model.Location</h4>
    <h4>Name:@Model.Quantity</h4>
    <input type="hidden" name="id" value="@Model.id" />
    <input type="submit" value="Delete" class="btn-danger" />
</form>